/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 Do not use *= require in Sass, use import
 */
/* @import "~bootstrap/scss/bootstrap"; */
@import "bootstrap/scss/bootstrap";

.bs-example{
        margin: 20px;
}

header ul {
     display: flex;
     flex: 1;
     float: right;
     list-style-type: none;
 }

 table {
   /*  background-color: #f5f5f5f6; */
    background-color:#e2e2e2f6;
    padding: 10px;
    margin: 0 auto;
    width: 90%;
 }

table th {
  margin: 0;
  border-bottom: 1px solid #d4d4d4;
  white-space: nowrap;
  border-top-width: 0px;
  text-align: left;
 }
p {
  background-color: #e0e0e0;
}
h4 {
    font-size: 1.2857em;
    line-height: 1.2em;
    margin: 1.6667em 0 .3887em;
    font-weight: bold;
}

.create-forms {
  margin: 0 auto;
  width: 50%;
  justify-content: center;
  border: 1px solid #e2e2e2;
  padding: 30px;
}
.center-div {
  margin: 0 auto;
  width: 60%;
  justify-content: center;
}
.done {
    text-decoration: line-through;
}
.navbar-nav {
  flex-direction: row !important;
}
.nav-item {
 margin-right: 20px;
 }
 .navbar {
  border-bottom: 1px solid #d0d0d0;
 }
 .nav-item a {
   
   text-transform: uppercase;
 }
 .nav-item a:hover {
  color: #000;
  background-color: transparent;
}
.navbar-brand {
  padding-left: 0.6rem !important;
}
.navbar-brand:hover {
  background-color: transparent;
}
.top-title{
  text-align: center;
}
.navbar-header {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px 3px 1px 1px;
  /* padding:0 1%; */
  cursor:pointer;
  margin:0px;
}
.login-logout {
  padding: 10px;
}
.login-logout:hover {
  background-color: white;
}
.create-forms a {
  background-color: white;
}
.pagination {
  margin-top: 20px;
}
.pagination a{
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.pagination .current {
  padding: .5rem .75rem;
  background-color: #007bff;
  color: white;    
  border: 1px solid #dee2e6;
  margin-left: -1px;
  line-height: 1.25;
}